.row_section {
  color: white;
  margin: 0px 10px;
}
.row_section h2 {
  color: black;
  font-weight: 900;
  padding: 20px 0px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row_posters::-webkit-scrollbar {
  width: 1em;
}
.row_posters::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.row_posters::-webkit-scrollbar-thumb {
  background-color: #111;
  outline: 1px solid rgba(255, 0, 150, 0.3);
}

.row_poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  width: 100%;
  cursor: pointer;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
.row_posterlarge {
  max-height: 250px;
}
