.sign_up_screen {
  position: absolute;
  top: 30vh;
  background: rgba(37, 3, 23, 0.5);
  right: 0;
  left: 0;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 50px 10px;
}

.sign_up_screen form {
  display: flex;
  flex-direction: column;
}
.sign_up_screen h2 {
  color: white;
  font-weight: 900;
  margin-bottom: 8px;
  text-align: left;
}
.sign_up_screen input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  outline-width: 0px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
}

.sign_up_screen form button {
  padding: 16px 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: #111;
  border: none;
  color: white;
  transition: 0.56s;
  cursor: pointer;
  margin: 8px 0;
}

.sign_up_screen form button:hover {
  color: #fff;
  border-radius: 20px;
  background-color: rgba(255, 0, 150, 0.3);
}

.sign_up_screen h4 {
  font-weight: bold;
  color: whitesmoke;
  text-align-last: left;
}

.sign_up_screen .link {
  color: rgba(255, 0, 150, 1);
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s;
}

.sign_up_screen .link:hover {
  color: #fff;
  background-color: rgba(10, 2, 7, 0.3);
}
